.footer-area{
    align-content: center;
    align-items: center;
    .footer-logo{
        margin: 0 auto;
        & img{
            margin-bottom: 32px;
        }
    }
    
    .footer-social{
        margin-bottom: 30px;
        & a{
            width: 50px;
            height: 50px;
            border: 2px solidrgb(5, 0, 0);
            background:#fff;
            display: inline-block;
            line-height: 40px;
            text-align: center;
            color:#949eb2;
            margin-right: 5px;
            transition: all 0.3s ease 0s;
            
            &:hover{
                background: none;
                color: #fff;
                border: 1px solid #fff;
                transform: scale(1.1);
            }

        }
    }
    .footer-social2{
        & a{
            &:hover{
                background: black;
                color:#fff;
                border: 1px solid transparent;
            }
            
        }
        .logonw{
            max-width: 50px;
        }
    }
    .footer-pera{
        @media #{$xs}{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
        & p{
            color:#f4f6fa;
            font-size: 15px;
            font-weight: 100;
            padding-right: 52px;
            @media #{$xs}{
                padding: 0;
                text-align: center;
            }
            & span{
                & a{
                    color:$theme-color;
                    &:hover{
                        color:#fff;
                    }
                }
            }
        }
    }
    .footer-tittle{
        & h4{
            color: #ffffff;
            font-size: 20px;
            margin-bottom: 30px;
            font-weight: 500;
            @media #{$sm}{
                text-align: center;
            }
            @media #{$xs}{
                text-align: center;
            }
        }
        & ul{
            & li{
                color: #aab1c0;
                margin-bottom: 14px;
                & a{
                    text-decoration: none;
                    color: #868c98;
                    font-weight: 300;
                    &:hover{
                        color: white;
                        padding-left: 5px;
                    }
                }
            }
        }
    }
}
.footer-padding{
	padding-top: 50px;
	padding-bottom: 20px;
	@media #{$lg}{
		padding-top: 50px;
		padding-bottom: 20px;
    }
	@media #{$md}{
		padding-top: 50px;
		padding-bottom: 20px;
    }
	@media #{$sm}{
		padding-top: 50px;
		padding-bottom: 20px;
    }
    @media #{$xs}{
		padding-top: 50px;
		padding-bottom: 20px;
    }
}