$bg_lightbluegreen: rgb(172, 236, 201);
$xlg : 'only screen and (min-width: 1200px) and (max-width: 1400px)';
$slg : 'only screen and (min-width: 1400px) and (max-width: 1600px)';
$lg :'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$theme-color: #011014;